@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.wrapper{
    width: 20%;
    height: 100vh;
    background-color: rgba(155, 146, 146, 0.321);
    position: absolute
}

.logo{
    margin-left: 15%;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}

.logo h1{
    display: table-cell;
    font-family: 'Zen Antique Soft';
    color: white;
}

.icon{
    display: table-cell;
    font-size: 70px;
    color: white;
}



.calculators h2{
    margin-left: 17%;
    font-family: 'Zen Antique Soft';
    color: white;
}