@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.header {
  font-family: "Zen Antique Soft";
  font-size: 32px;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
}
